#showcase{
  position: relative;
  background: url("../images/area.jpg") no-repeat;
  min-height: 600px; 
}
  #showcase .primary-overlay {
    background: rgba(192, 192, 192, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
#app{
	min-height: 100vh;
	background: url("../images/map.png");
    background-attachment: fixed;
    -o-object-fit: cover;
    object-fit: cover;
}
#app .header{
	height: 6rem;
    color: #666666;
    background: rgba(192, 192, 192, 0.5);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.0625rem solid #aaacaf;
    -webkit-transition: height 0.24s ease-in-out;
    -o-transition: height 0.24s ease-in-out;
    transition: height 0.24s ease-in-out
}

#app .container ul li{
    list-style: none;
}

footer{
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 900px){
	#showcase h1{
		font-size: 58px;
		font-weight: bold;
	}
	#app .header h2{
		font-size: 30px;
	}
	#contact img{
		display: none;
	}
}